parameters:
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '/Parameter \#1 \$argument of class ReflectionClass constructor expects class-string\<T of object\>\|T of object, string given/'
		- '/Parameter \#1 \$id of method Selective\\Container\\Resolver\\ConstructorResolver\:\:resolve\(\) expects class-string, string given/'
