parameters:
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '/Parameter \#1 \$argument of class ReflectionClass constructor expects class-string\<T of object\>\|T of object, string given/'
		- '/Parameter \#1 \$id of method Selective\\Container\\Resolver\\ConstructorResolver\:\:resolve\(\) expects class-string, string given/'
		- '/Parameter \#1 \$objectOrClass of class ReflectionClass constructor expects class\-string/'
		- '#Parameter \#1 \$stack of function array_shift expects array, mixed given.#'
		- '#Parameter \#1 \$array of function array_shift expects array, mixed given.#'
		- '#Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert\:\:assertCount\(\) expects Countable\|iterable, mixed given.#'
		- "#Trying to invoke mixed but it's not a callable.#"
